body {
    font-family: 'Open Sans', sans-serif;
    background-color: #b9d0ee;
    font-weight: 300;
    padding: 50px;
}

h1 {
    font-weight: 300;
}

.landing {
    line-height: 150%;
    font-size: 20px;
}