{% extends 'base.html' %}
{% load static %}

{% block customlinks %}
<link rel="stylesheet" type="text/css" href="{% static 'user.css' %}">
{% endblock %}

{% block content %}
<main role="main" class="container-fluid main text-center main">

    <br/>
    <h3 class="main-title btn-secondary rounded-sm text-white mt-3 pb-1 align-middle">
        <span style="font-size: 2rem;color:white">
          <i class="fas fa-stream"></i>
        </span>
        Explore Page
    </h3>
    <br/>

    <div class="btn-group block mb-2" role="group" aria-label="Stream buttons">
        <button type="button" class="btn btn-secondary" data-toggle="collapse" href="#educationStreams" role="button" aria-expanded="false" aria-controls="educationStreams">
            Education <span class="badge badge-light">{{ education_streams|length }}</span>
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="collapse" href="#gamingStreams" role="button" aria-expanded="false" aria-controls="gamingStreams">
            Gaming <span class="badge badge-light">{{ gaming_streams|length }}</span>
        </button>
        <button type="button" class="btn btn-danger collapsed" data-toggle="collapse" href="#topRated" role="button" aria-expanded="false" aria-controls="topRated">
            Top Rated Users
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="collapse" href="#musicStreams" role="button" aria-expanded="false" aria-controls="musicStreams">
            Music <span class="badge badge-light">{{ music_streams|length }}</span>
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="collapse" href="#blogStreams" role="button" aria-expanded="false" aria-controls="blogStreams">
            Blogs <span class="badge badge-light">{{ blog_streams|length }}</span>
        </button>
    </div>
    <div id="streams">
        <div id="educationStreams" class="collapse row align-items-top justify-content-md-center mb-2" data-parent="#streams">
            <div class="col-8">
                <div class="card h-auto p-3 overflow-auto">
                    <div class="list-group">
                    {% if not education_streams %}
                        No Education streams!
                    {% else %}
                        <h1 style="display-4">Education streams</h1>
                    {% endif %}
                    {% for stream in education_streams %}
                      <a href="{{ stream.link }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ stream.title }}</h5>
                          <small>Aired on {{ stream.airs_on|date }}</small>
                        </div>
                        <p class="mb-1"></p>
                        <small>(Click here to view the stream)</small>
                      </a>
                        <li><a href="{% url 'chat:room' stream.pk %}">Talk about {{ stream.title }}!</a></li>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div id="gamingStreams" class="collapse row align-items-top justify-content-md-center mb-2" data-parent="#streams">
            <div class="col-8">
                <div class="card h-auto p-3 overflow-auto">
                    <div class="list-group">
                    {% if not gaming_streams %}
                        No Gaming streams!
                    {% else %}
                        <h1 style="display-4">Gaming streams</h1>
                    {% endif %}
                    {% for stream in gaming_streams %}
                      <a href="{{ stream.link }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ stream.title }}</h5>
                          <small>Aired on {{ stream.airs_on|date }}</small>
                        </div>
                        <p class="mb-1"></p>
                        <small>(Click here to view the stream)</small>
                      </a>
                        <li><a href="{% url 'chat:room' stream.pk %}">Talk about {{ stream.title }}!</a></li>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div id="musicStreams" class="collapse row align-items-top justify-content-md-center mb-2" data-parent="#streams">
            <div class="col-8">
                <div class="card h-auto p-3 overflow-auto">
                    <div class="list-group">
                    {% if not music_streams %}
                        No Music streams!
                    {% else %}
                        <h1 style="display-4">Music streams</h1>
                    {% endif %}
                    {% for stream in music_streams %}
                      <a href="{{ stream.link }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ stream.title }}</h5>
                          <small>Aired on {{ stream.airs_on|date }}</small>
                        </div>
                        <p class="mb-1"></p>
                        <small>(Click here to view the stream)</small>
                      </a>
                        <li><a href="{% url 'chat:room' stream.pk %}">Talk about {{ stream.title }}!</a></li>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div id="blogStreams" class="collapse row align-items-top justify-content-md-center mb-2" data-parent="#streams">
            <div class="col-8">
                <div class="card h-auto p-3 overflow-auto">
                    <div class="list-group">
                    {% if not blog_streams %}
                        No Blog streams!
                    {% else %}
                        <h1 style="display-4">Blog streams</h1>
                    {% endif %}
                    {% for stream in blog_streams %}
                      <a href="{{ stream.link }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ stream.title }}</h5>
                          <small>Aired on {{ stream.airs_on|date }}</small>
                        </div>
                        <p class="mb-1"></p>
                        <small>(Click here to view the stream)</small>
                      </a>
                        <li><a href="{% url 'chat:room' stream.pk %}">Talk about {{ stream.title }}!</a></li>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div id="topRated" class="collapse row align-items-top justify-content-md-center mb-2" data-parent="#streams">
            <div class="col-8">
                <div class="card h-auto p-3 overflow-auto">
                    <div class="list-group">
                    {% if not top_rated_users %}
                        No Users!
                    {% else %}
                        <h1 style="display-4">Top Rated Users</h1>
                    <table class="table  table-striped table-sm table-hover table-dark">
                    <thead>
                    <tr style="text-align:center">
                        <th scope="col">User</th>
                        <th scope="col">Followed by</th>
                        {% if user.is_authenticated %}
                        <th scope="col">Talk with him</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for top_user in top_rated_users %}
                        <td class="text-center px-4">
                            <a href="{% url 'main_app:user' top_user.follows.user.username %}" class="text-white">
                                <img src="{{top_user.follows.avatar.url}}" class="rounded avatar img-thumbnail" width="50" height="60"/>
                                {{top_user.follows.user.username|truncatechars:9}}{% if top_user.follows.user.username|length > 9 %}..{% endif %}
                            </a>
                        </td>
                        <td class="text-center">{{top_user.num_followers}} users</td>
                        {% if user.is_authenticated and user.username != top_user.follows.user.username %}
                        <td class="text-center"><li><a href="{% url 'chat:room' top_user.follows.user.username %}">Talk with {{ top_user.follows.user.username }}!</a></li> </td>
                        {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>


</main>
{% endblock %}
