{% extends 'base.html' %}
{% load static %}

{% block customlinks %}
  <link rel="stylesheet" type="text/css" href="{% static 'landing.css' %}">
{% endblock %}

{% block navigation %}
    {% include "navigation.html" with active='home' %}
{% endblock %}

{% block content %}
  <main role="main" class="container-fluid main text-center text-white main">
    <div class="row align-items-end h-100">
      <div class="col">
        <h1 class="display-4">Welcome to Sellotape</h1>
        <p class="lead">
          We introduce an accessible way to listen to podcasts and streams <br />
        </p>
        <p>
          <a class="btn btn-lg btn-secondary" href="#content" role="button">Learn more</a>
          <a class="btn btn-lg btn-info" href="{% url 'login' %}" role="button">Sign up today</a>
        </p>
      </div>
    </div>
  </main>
  <content role="content" class="container-fluid text-center p-0" id="content">
    <div class="card p-4">
      <!-- Social -->
      <div class="row no-gutters">
        <div class="col-md-3">
          <div class="card-body">
            <h5 class="card-title">
              <span style="font-size: 5rem; color: Tomato;">
                <i class="fas fa-people-arrows"></i>
              </span>
            </h5>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">Social network</h5>
            <p class="card-text">Sellotape serves as a simple social network, helping streamers and listeners to easily access and expose their live content as it centralizes streams from many popular streaming sources.</p>
          </div>
        </div>
      </div>
      <!-- Philosophy -->
      <div class="row no-gutters">
        <div class="col-md-3">
          <div class="card-body">
            <h5 class="card-title">
              <span style="font-size: 5rem; color: Tomato;">
                <i class="fas fa-tachometer-alt"></i>
              </span>
            </h5>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">Philosophy</h5>
            <p class="card-text">Our philosophy is that there should be no alienation between a streamer and a listener, and we engage and strive to push the interaction between them as possible.</p>
          </div>
        </div>
      </div>
      <!-- Listeners & Streamers -->
      <div class="row no-gutters">
        <div class="col-md-1">
          <div class="card-body">
            <h5 class="card-title">
              <span style="font-size: 5rem; color: #17a2b8;">
                <i class="fa fa-headphones"></i>
              </span>
            </h5>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <h5 class="card-title">Listeners</h5>
            <p class="card-text">As a listener, you can follow your favorite streamers and keep up to date with their streams.</p>
          </div>
        </div>

        <div class="col-md-1">
          <div class="card-body">
            <h5 class="card-title">
              <span style="font-size: 5rem; color: #17a2b8;">
                <i class="fas fa-volume-up"></i>
              </span>
            </h5>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <h5 class="card-title">Streamers</h5>
            <p class="card-text">As a podcaster/streamer, you can expose yourself better - by providing centralized information on previous, present and future streams.</p>
          </div>
        </div>
      </div>
      <!-- Philosophy -->
      <div class="row no-gutters">
        <div class="col">
          <a class="btn btn-lg btn-info" href="{% url 'login' %}" role="button">Sign up today</a>
        </div>
      </div>
    </div>
    </div>
  </content>
{% endblock %}
