<!-- home.html -->

    {% extends 'base.html' %}
    {% block title %} Home {% endblock %}
    {% block content %}
      <div class="row">

            <!-- Add from here -->
        {% for ass in backends.associated %}
          {% if ass.provider == 'facebook' %}
            <div class="col-sm-12 mb-3">
              <h4 class="text-center">Welcome {{ ass.extra_data.name }}</h4>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
            </div>
            <div class="col-md-6 social-container my-2">
                <p> Username: {{ user.username }} </p>
                <p> Provider:  {{ ass.provider }} </p>
                <p> Name:  {{ ass.extra_data.name }} </p>
            </div>
          {% elif ass.provider == 'google-oauth2' %}
            <div class="col-sm-12 mb-3">
              <h4 class="text-center">Welcome {{ ass.extra_data.name }}</h4>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ass.extra_data.picture}}" alt="" width="150" height="150" style="border-radius: 50%">
            </div>
            <div class="col-md-6 social-container my-2">
                <p> Username: {{ user.username }} </p>
                <p> Provider:  {{ ass.provider }} </p>
                <p> Name:  {{ ass.extra_data.name }} </p>
            </div>
          {% endif %}
        {% endfor %}
        <div class="col-sm-12 mt-2 text-center">
          <button class="btn btn-danger">
            <a href="{% url 'logout' %}">Logout</a>
          </button>
        </div>
            <!-- End here -->
      </div>
    {% endblock %}