[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
channels = "*"
twisted = "*"
social-auth-app-django = "*"
requests = "*"

[requires]
python_version = "3.8"
